.cube {
    --cube-size: 100px;
    --cube-padding: 50px;

    padding: var(--cube-padding);

    .cube-core {
        position: relative;
        width: var(--cube-size);
        height: var(--cube-size);

        transform-style: preserve-3d;
        transform-origin: center center;

        &.cube-core-auto-rotate {
            animation: rotate 10s linear infinite;
        }

        @keyframes rotate {
            0% {
                transform: rotateX(-20deg) rotateY(0deg);
            }
            100% {
                transform: rotateX(-20deg) rotateY(360deg);
            }
        }
    }

    .cube-face {
        position: absolute;
        top: calc(50% - var(--cube-size) / 2);
        left: calc(50% - var(--cube-size) / 2);
        width: 100%;
        height: 100%;

        .cube-face-default-content {
            width: 100%;
            height: 100%;
        }
    }
}
